<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Playground</title>
</head>
<body>
    <main class="container">
        <h1>Welcome!</h1>
        <div class="boxes">
            {% for i in range(no_of_boxes) %}
                <div class="box" style="background-color: {{ clr }}">

                </div>
            {% endfor%}
            
        </div>
    </main>
</body>
</html>
