body {
  margin: 50px;
}

button {
  display: block;
  margin: 10px;
}

.searchBtn {
  background-color: #f5f5f5;
  color: #65bebf;
  padding: 5px 50px;
  font-weight: bold;
  border: 2px solid #65bebf;
  border-radius: 25px;
  font-size: 16px;
}

.blusBtn {
  border-radius: 50%;
  background-color: rgb(0 209 178);
  color: rgb(255 255 255);
  border-style: none;
  width: 35px;
  height: 35px;
  font-size: 24px;
}

.createBtn {
  background-color: #2b78e4;
  color: rgb(242 247 253);
  padding: 5px 25px;
  border: 2.3px solid black;
  box-shadow: 3px 4px 0px #000; /* Horizontal, Vertical, Blur, Color */
  font-size: 16px;
}
