<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Add an Author</h1>
            <form action="/add_author" method="post">
                {% csrf_token %}
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes"></textarea>
                <input type="submit" value="Add">
            </form>
        </div>

        <div class="card">
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{author.id}}</td>
                            <td>{{author.first_name}} {{author.last_name}}</td>
                            <td><a href="/author_detail/{{author.id}}">View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>