.container {
  width: 950px;
  background-color: silver;
  margin: 0px auto;
  padding: 20px;
}
.top-nav {
  height: 150px;
  background-color: green;
  margin-bottom: 20px;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  display: inline-block;
  margin-right: 15px;
}
.main {
  height: 400px;
  width: 710px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  padding: 16px 0px 0px 16px;
}
.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  display: inline-block;
}

.sub-content:nth-child(2) {
  margin: 0px 10px 0px;
}

#advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin-top: 20px;
}
